h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

ul li { padding: 5px 0px; }

ul{
    text-align: center;
    padding-left: 0;
    list-style-type: armenian;
   
}

li::before{
    list-style-position: inside;
    display: inline-block;
    margin-bottom: 10;
}
