div {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
}


.homepage-title {
    background-color: dodgerblue;
    border: 10px solid black;
}

.homepage-recipe-list {
    background-color: cornsilk;
    border: 10px solid black
}

ul li { padding:20px 0px; }

ul {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
}

li::before {
    list-style-position: inside;
    display: inline-block;
    margin-bottom: 10;
}
